/* 怎么组件css有自己决定，但建议一个保存于整体布局有关的样式，一个作为专门的颜色样式表，第三个保存与版式有关的样式
 * color.js 颜色样式表，所有的颜色都在这里定义  
 */
body{
  background:	#FFF0F5;
}
.todoapp{
   /*background: #fff;*/
   
   margin: 130px 0 20px 0;
 }

.todoapp h1{
  /*position:absolute;*/
  /*top: -50px;*/
  color: rgba(175, 47, 47, 0.15);
  width: 100%;
  font-size: 100px;
  text-align: center;    
}
.header{
  /*background: cornflowerblue;*/
}
.new-todo{
  /*background: navajowhite;*/
}
.new{
  border-radius: 10px;
  font-size: 20px;
  padding:16px 16px 16px 60px;
  border:none;
  margin: 0 680px;
  height: 75px;
  width: 550px;
  background: rgba(158, 96, 133, 0.16);
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}